modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DISCORD_CLIENT_ID = "1546930035980771440"
DISCORD_GUILD_ID = "1465445402131042428"
SUPABASE_URL = "https://ehuqxykigmeixgqcjhcp.supabase.co"
WARN_ROLE_IDS = "1465445907322507459,1465460936172376064,1546589277952016435"
TIMEOUT_ROLE_IDS = "1465445907322507459,1465460936172376064"
REMOVE_WARNING_ROLE_IDS = "1257425037288407086"
LOG_CHANNEL_ID = "1465462569472102575"

[nix]
channel = "stable-25_05"
